/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-container {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container form {
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;  /* Alignement vertical */
    align-items: center;  /* Centrage horizontal */
    gap: 20px; /* Espacement entre les éléments */
    padding: 20px;
}


h2 {
    font-size: 1.5rem;
    color: #333;
    background: #e6f0ff;
    padding: 5px 0;
}

/* Labels */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

/* Champs de saisie et boutons */
input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: auto;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Formulaires */
fieldset {
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
}


/* Effet focus */
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Bouton désactivé */
input[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}